name: HTML Validate

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  html:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "20"

      - name: Install htmlhint
        run: npm install -g htmlhint

      - name: Validate HTML files
        run: htmlhint "**/*.html"
