name: HTML Validate

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  html:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install htmlhint
        run: npm install -g htmlhint

      - name: Validate HTML files
        run: htmlhint "**/*.html"
