name: Link Check

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check links
        uses: lycheeverse/lychee-action@v2
        with:
          fail: true
          args: >-
            --verbose
            --no-progress
            --accept 200,204,301,302
            --exclude-mail
            --exclude "tel:"
            --exclude "^#"
            "**/*.html"
            "**/*.md"
